In [1]:
# in terminal
'''
mongoimport --type json -d texasSchoolsDB -c scores_finances --drop --jsonArray scores_finances.json
mongoimport --type json -d texasSchoolsDB -c scores_finances_coordinates --drop --jsonArray finance_scores_coordinates.json
mongoimport --type json -d texasSchoolsDB -c school_info --drop --jsonArray texas-school.json
mongoimport --type json -d texasSchoolsDB -c coordinates --drop --jsonArray finance_coordinates.json
jq --compact-output ".features"  boundaries.geojson | mongoimport --db texasSchoolsDB -c current_districts_geojson --jsonArray
jq --compact-output ".features" Schools_2022_to_2023.geojson | mongoimport --db texasSchoolsDB -c schools_2022_to_2023_geojson --jsonArray
NEW CSVs FOR PROJECT 4 IMPORTED WITH MONGODB COMPASS TO HANDLE VAST AMOUNTS OF COLUMNS TO INSURE PROPER IMPORTING OF DATA TYPES
    - import demographic20.21.csv in MongoDB Compass with collection name "demographic20_21", verify all datatypes are correct before importing
    - import DISTRICTS_INFO_2020.21.csv in MongoDB Compass with collection name "DISTRICTS_INFO_2020_21", verify all datatypes are correct before importing
    - import staar20.21.cleaned.csv in MongoDB Compass with collection name "staar20_21", verify all datatypes are correct before importing
    - import teachers_scores20_21.csv in MongoDB Compass with collection name "teachers20_21", verify all datatypes are correct before importing
    - import tor20.21.csv in MongoDB Compass with collection name "tor20_21", verify all datatypes are correct before importing
'''

'\nmongoimport --type json -d texasSchoolsDB -c scores_finances --drop --jsonArray scores_finances.json\nmongoimport --type json -d texasSchoolsDB -c school-info --drop --jsonArray texas-school.json\n'

In [2]:
from pymongo import MongoClient
import pandas as pd

In [3]:
mongo = MongoClient(port=27017)

In [4]:
for dbname in mongo.list_database_names():
    if dbname == "texasSchoolsDB":
        print(f'{dbname} <----------')
    else:
        print(dbname)

admin
classDB
config
dbName
fruits_db
local
met
texasSchoolsDB <----------
travel_db
uk_food

In [5]:
db = mongo["texasSchoolsDB"]

In [6]:
db.list_collection_names()

['teachers20_21',
 'school_info',
 'scores_finances',
 'schools_2022_to_2023_geojson',
 'demographics',
 'staar20_21',
 'coordinates',
 'scores_coordinates',
 'tor20_21',
 'scores_finances_coordinates',
 'current_districts_geojson',
 'DISTRICTS_INFO_2020_21',
 'demographic20_21']

In [7]:
collection = db.DISTRICTS_INFO_2020_21

In [11]:
# get the DISTRICTS_INFO_2020_21 collection from mongodb and convert it to a pandas dataframe
districts_info_df = pd.DataFrame(list(collection.find()))
districts_info_df.dtypes

_id                                                                 object
DISTRICT NAME                                                       object
TOTAL NUMBER OF SCHOOLS                                              int64
TOTAL STUDENTS                                                       int64
TOTAL STAFF FTE                                                    float64
TOTAL TEACHER FTE                                                  float64
STAFF: % TEACHERS                                                  float64
STAFF: % EDUCATIONAL AIDES                                         float64
STAFF: % AUXILIARY                                                 float64
AVERAGE SALARY: TEACHER                                            float64
NUMBER OF STUDENTS PER TOTAL STAFF                                 float64
NUMBER OF STUDENTS PER TEACHER                                     float64
TEACHER: % WITH 5 OR FEWER YEARS OF EXPERIENCE                     float64
TEACHER: AVERAGE YEARS OF EXPERIENCE                               float64
TEACHER: % WITH ADVANCED DEGREES                                   float64
TEACHER: % AFRICAN AMERICAN                                        float64
TEACHER: % HISPANIC                                                float64
TEACHER: % WHITE                                                   float64
TEACHER: % AMERICAN INDIAN                                         float64
TEACHER: % ASIAN                                                   float64
TEACHER: % PACIFIC ISLANDER                                        float64
TEACHER: % TWO OR MORE RACES                                       float64
TEACHER: % REGULAR EDUCATION                                       float64
TEACHER: % SPECIAL EDUCATION                                       float64
TEACHER: % COMPENSATORY EDUCATION                                  float64
TEACHER: % BILINGUAL/ESL EDUCATION                                 float64
TEACHER: % CAREER & TECHNICAL EDUCATION                            float64
TEACHER: % OTHER EDUCATION (INCLUDES G & T)                        float64
ATTENDANCE RATE (2020-21)                                          float64
ANNUAL DROPOUT RATE GR                                              object
4-YR LONGITUDINAL GRADUATION RATE (CLASS OF 2021) DISTRICT EXCL    float64
5-YR LONGITUDINAL GRADUATION RATE (CLASS OF 2020) DISTRICT EXCL    float64
ANNUAL GRADUATE COUNT (2020-21)                                    float64
COLLEGE ADMISSIONS: % AT/ABOVE CRITERION (2020-2021)               float64
SAT-AVERAGE SCORE (2021-2020)                                      float64
ACT-AVERAGE SCORE (2021-2020)                                      float64
dtype: object

In [13]:
# Drop id
districts_info_df.drop(columns=['_id'], inplace=True, errors='ignore')

# Now the DataFrame will no longer have the '_id' column.
districts_info_df.head()

,DISTRICT NAME,TOTAL NUMBER OF SCHOOLS,TOTAL STUDENTS,TOTAL STAFF FTE,TOTAL TEACHER FTE,STAFF: % TEACHERS,STAFF: % EDUCATIONAL AIDES,STAFF: % AUXILIARY,AVERAGE SALARY: TEACHER,NUMBER OF STUDENTS PER TOTAL STAFF,...,TEACHER: % CAREER & TECHNICAL EDUCATION,TEACHER: % OTHER EDUCATION (INCLUDES G & T),ATTENDANCE RATE (2020-21),ANNUAL DROPOUT RATE GR,4-YR LONGITUDINAL GRADUATION RATE (CLASS OF 2021) DISTRICT EXCL,5-YR LONGITUDINAL GRADUATION RATE (CLASS OF 2020) DISTRICT EXCL,ANNUAL GRADUATE COUNT (2020-21),COLLEGE ADMISSIONS: % AT/ABOVE CRITERION (2020-2021),SAT-AVERAGE SCORE (2021-2020),ACT-AVERAGE SCORE (2021-2020)
0,CAYUGA ISD,3,574,99.9,46.7,46.8,14.8,26.5,55570.0,5.7,...,8.5,0.0,96.7,{' 9-12 (2020-21)': 0},100.0,100.0,36.0,19.0,980.0,NaN
1,ELKHART ISD,4,1150,186.6,104.9,56.2,16.2,19.5,47916.0,6.2,...,13.0,1.5,96.0,{' 9-12 (2020-21)': 0.3},100.0,98.9,91.0,27.7,979.0,-1.0
2,FRANKSTON ISD,3,808,146.7,74.5,50.8,15.0,27.4,50382.0,5.5,...,2.2,0.0,95.4,{' 9-12 (2020-21)': 0.4},95.2,100.0,41.0,36.8,980.0,-1.0
3,NECHES ISD,2,342,60.1,30.2,50.3,13.7,26.2,55346.0,5.7,...,10.8,1.7,95.8,{' 9-12 (2020-21)': 0},95.8,97.0,23.0,15.0,1007.0,18.8
4,PALESTINE ISD,6,3360,553.4,260.3,47.0,19.7,19.5,48825.0,6.1,...,9.0,1.8,93.7,{' 9-12 (2020-21)': 0},99.0,99.6,201.0,49.4,1048.0,21.0

In [10]:

collection = db['teachers20_21']

In [15]:
teacher20_21_df = pd.DataFrame(list(collection.find()))

teacher20_21_df.drop(columns=['_id'], inplace=True, errors='ignore')

teacher20_21_df.head()

,DISTRICT NAME,TOTAL NUMBER OF SCHOOLS,TOTAL STUDENTS,TOTAL STAFF FTE,TOTAL TEACHER FTE,STAFF: % TEACHERS,STAFF: % EDUCATIONAL AIDES,STAFF: % AUXILIARY,AVERAGE SALARY: TEACHER,NUMBER OF STUDENTS PER TOTAL STAFF,...,TEACHER: % CAREER & TECHNICAL EDUCATION,TEACHER: % OTHER EDUCATION (INCLUDES G & T),ATTENDANCE RATE (2020-21),ANNUAL DROPOUT RATE GR,4-YR LONGITUDINAL GRADUATION RATE (CLASS OF 2021) DISTRICT EXCL,5-YR LONGITUDINAL GRADUATION RATE (CLASS OF 2020) DISTRICT EXCL,ANNUAL GRADUATE COUNT (2020-21),COLLEGE ADMISSIONS: % AT/ABOVE CRITERION (2020-2021),SAT-AVERAGE SCORE (2021-2020),ACT-AVERAGE SCORE (2021-2020)
0,CAYUGA ISD,3,574,99.9,46.7,46.8,14.8,26.5,55570.0,5.7,...,8.5,0.0,96.7,{' 9-12 (2020-21)': 0},100.0,100.0,36.0,19.0,980.0,NaN
1,ELKHART ISD,4,1150,186.6,104.9,56.2,16.2,19.5,47916.0,6.2,...,13.0,1.5,96.0,{' 9-12 (2020-21)': 0.3},100.0,98.9,91.0,27.7,979.0,-1.0
2,FRANKSTON ISD,3,808,146.7,74.5,50.8,15.0,27.4,50382.0,5.5,...,2.2,0.0,95.4,{' 9-12 (2020-21)': 0.4},95.2,100.0,41.0,36.8,980.0,-1.0
3,NECHES ISD,2,342,60.1,30.2,50.3,13.7,26.2,55346.0,5.7,...,10.8,1.7,95.8,{' 9-12 (2020-21)': 0},95.8,97.0,23.0,15.0,1007.0,18.8
4,PALESTINE ISD,6,3360,553.4,260.3,47.0,19.7,19.5,48825.0,6.1,...,9.0,1.8,93.7,{' 9-12 (2020-21)': 0},99.0,99.6,201.0,49.4,1048.0,21.0

In [17]:
collection = db['demographic20_21']

In [18]:
demographic20_21_df = pd.DataFrame(list(collection.find()))

demographic20_21_df.drop(columns=['_id'], inplace=True, errors='ignore')

demographic20_21_df.head()

,DISTRICT NAME,TOTAL NUMBER OF SCHOOLS,TOTAL STUDENTS,STUDENTS: % AFRICAN AMERICAN,STUDENTS: % HISPANIC,STUDENTS: % WHITE,STUDENTS: % AMERICAN INDIAN,STUDENTS: % ASIAN,STUDENTS: % PACIFIC ISLANDER,STUDENTS: % TWO OR MORE RACES,STUDENTS: % ECONOMICALLY DISADVANTAGED,STUDENTS: % ENGLISH LEARNERS (EL),STUDENTS: % SPECIAL EDUCATION,STUDENTS: % BILINGUAL/ESL EDUCATION,STUDENTS: % CAREER & TECHNICAL EDUCATION,STUDENTS: % GIFTED & TALENTED EDUCATION
0,CAYUGA ISD,3,574,4.4,11.5,79.1,0.0,0.5,0.0,4.5,40.8,1.0,14.6,1.0,30.5,6.1
1,ELKHART ISD,4,1150,4.0,11.8,80.3,0.3,0.2,0.0,3.4,45.4,2.8,12.1,2.7,31.8,4.6
2,FRANKSTON ISD,3,808,8.5,11.3,75.2,0.4,1.0,0.0,3.6,54.2,4.1,13.1,4.1,43.9,7.3
3,NECHES ISD,2,342,8.2,13.5,75.1,0.3,0.3,0.0,2.6,54.1,2.0,10.5,2.0,29.5,5.6
4,PALESTINE ISD,6,3360,25.1,42.9,27.3,0.2,0.7,0.1,3.7,81.6,17.7,13.5,16.1,30.6,2.3