In [ ]:
# in terminal
'''
mongoimport --type json -d texasSchoolsDB -c scores_finances --drop --jsonArray scores_finances.json
mongoimport --type json -d texasSchoolsDB -c scores_finances_coordinates --drop --jsonArray finance_scores_coordinates.json
mongoimport --type json -d texasSchoolsDB -c school_info --drop --jsonArray texas-school.json
mongoimport --type json -d texasSchoolsDB -c coordinates --drop --jsonArray finance_coordinates.json
jq --compact-output ".features"  boundaries.geojson | mongoimport --db texasSchoolsDB -c current_districts_geojson --jsonArray
jq --compact-output ".features" Schools_2022_to_2023.geojson | mongoimport --db texasSchoolsDB -c schools_2022_to_2023_geojson --jsonArray
'''
'''
NEW CSVs FOR PROJECT 4 IMPORTED WITH MONGODB COMPASS TO HANDLE VAST AMOUNTS OF COLUMNS TO INSURE PROPER IMPORTING OF DATA TYPES
    - import demographic20.21.csv in MongoDB Compass with collection name "demographic20_21", verify all datatypes are correct before importing
    - import DISTRICTS_INFO_2020.21.csv in MongoDB Compass with collection name "DISTRICTS_INFO_2020_21", verify all datatypes are correct before importing
    - import staar20.21.cleaned.csv in MongoDB Compass with collection name "staar20_21", verify all datatypes are correct before importing
    - import teachers_scores20_21.csv in MongoDB Compass with collection name "teachers20_21", verify all datatypes are correct before importing
    - import tor20.21.csv in MongoDB Compass with collection name "tor20_21", verify all datatypes are correct before importing
    - import satscores20_21.csv in MongoDB Compass with collection name "satscores20_21", verify all datatypes are correct before importing
    - import staar19_20.csv in MongoDB Compass with collection name "staar19_20", verify all datatypes are correct before importing
    - import statewideoverallaccountabilityratings2022.csv in MongoDB Compass with collection name "account_ratings22", verify all datatypes are correct before importing
'''

In [1]:
from pymongo import MongoClient
import pandas as pd

In [2]:
mongo = MongoClient(port=27017)

In [ ]:
for dbname in mongo.list_database_names():
    if dbname == "texasSchoolsDB":
        print(f'{dbname} <----------')
    else:
        print(dbname)

In [4]:
db = mongo["texasSchoolsDB"]

In [5]:
db.list_collection_names()

['teachers20_21',
 'school_info',
 'scores_finances',
 'schools_2022_to_2023_geojson',
 'demographics',
 'staar20_21',
 'coordinates',
 'scores_coordinates',
 'account_ratings22',
 'tor20_21',
 'satscores20_21',
 'scores_finances_coordinates',
 'current_districts_geojson',
 'staar19_20',
 'DISTRICTS_INFO_2020_21',
 'demographic20_21']

In [6]:
collection = db.DISTRICTS_INFO_2020_21

In [7]:
# get the DISTRICTS_INFO_2020_21 collection from mongodb and convert it to a pandas dataframe
districts_info_df = pd.DataFrame(list(collection.find()))
districts_info_df.dtypes

_id                                                                       object
DISTRICT NAME                                                             object
DISTRICT NUMBER                                                            int64
COUNTY NUMBER AND NAME                                                    object
EDUCATION SERVICE CENTER REGION                                            int64
                                                                          ...
STAAR: % AMERICAN INDIAN AT MASTERS GRADE LEVEL STANDARD                 float64
ACT-AVERAGE SCORE (2021-2020)                                            float64
STAAR: % PACIFIC ISLANDER AT APPROACHES GRADE LEVEL STANDARD OR ABOVE    float64
STAAR: % PACIFIC ISLANDER AT MEETS GRADE LEVEL STANDARD OR ABOVE         float64
STAAR: % PACIFIC ISLANDER AT MASTERS GRADE LEVEL STANDARD                float64
Length: 138, dtype: object

In [9]:
# Drop id
districts_info_df.drop(columns=['_id'], inplace=True, errors='ignore')

# Now the DataFrame will no longer have the '_id' column.
districts_info_df.head()

,DISTRICT NAME,DISTRICT NUMBER,COUNTY NUMBER AND NAME,EDUCATION SERVICE CENTER REGION,DISTRICT ACCOUNTABILITY RATINGS,TOTAL NUMBER OF SCHOOLS,TOTAL STUDENTS,STUDENTS: % AFRICAN AMERICAN,STUDENTS: % HISPANIC,STUDENTS: % WHITE,...,COMMUNITY TYPE,PROPERTY WEALTH,TAX RATE,STAAR: % AMERICAN INDIAN AT APPROACHES GRADE LEVEL STANDARD OR ABOVE,STAAR: % AMERICAN INDIAN AT MEETS GRADE LEVEL STANDARD OR ABOVE,STAAR: % AMERICAN INDIAN AT MASTERS GRADE LEVEL STANDARD,ACT-AVERAGE SCORE (2021-2020),STAAR: % PACIFIC ISLANDER AT APPROACHES GRADE LEVEL STANDARD OR ABOVE,STAAR: % PACIFIC ISLANDER AT MEETS GRADE LEVEL STANDARD OR ABOVE,STAAR: % PACIFIC ISLANDER AT MASTERS GRADE LEVEL STANDARD
0,CAYUGA ISD,1902,001 ANDERSON,7,A,3,574,4.4,11.5,79.1,...,Rural,"$539,089 to < $573,876",Under $1.0809,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ELKHART ISD,1903,001 ANDERSON,7,A,4,1150,4.0,11.8,80.3,...,Non-metropolitan Stable,"$234,712 to < $298,152",$1.2148 to under $1.3239,100.0,100.0,100.0,-1.0,NaN,NaN,NaN
2,FRANKSTON ISD,1904,001 ANDERSON,7,A,3,808,8.5,11.3,75.2,...,Rural,"$359,962 to < $411,857",$1.3239 and over,80.0,20.0,20.0,-1.0,NaN,NaN,NaN
3,NECHES ISD,1906,001 ANDERSON,7,A,2,342,8.2,13.5,75.1,...,Rural,"$298,152 to < $340,843",$1.3239 and over,-1.0,-1.0,-1.0,18.8,NaN,NaN,NaN
4,PALESTINE ISD,1907,001 ANDERSON,7,B,6,3360,25.1,42.9,27.3,...,Independent Town,"$298,152 to < $340,843",$1.3239 and over,75.0,50.0,17.0,21.0,-1.0,-1.0,-1.0

In [10]:

collection = db['teachers20_21']

In [11]:
teacher20_21_df = pd.DataFrame(list(collection.find()))

teacher20_21_df.drop(columns=['_id'], inplace=True, errors='ignore')

teacher20_21_df.head()

Empty DataFrame
Columns: []
Index: []

In [12]:
collection = db['demographic20_21']

In [13]:
demographic20_21_df = pd.DataFrame(list(collection.find()))

demographic20_21_df.drop(columns=['_id'], inplace=True, errors='ignore')

demographic20_21_df.head()

,DISTRICT NAME,TOTAL NUMBER OF SCHOOLS,TOTAL STUDENTS,STUDENTS: % AFRICAN AMERICAN,STUDENTS: % HISPANIC,STUDENTS: % WHITE,STUDENTS: % AMERICAN INDIAN,STUDENTS: % ASIAN,STUDENTS: % PACIFIC ISLANDER,STUDENTS: % TWO OR MORE RACES,STUDENTS: % ECONOMICALLY DISADVANTAGED,STUDENTS: % ENGLISH LEARNERS (EL),STUDENTS: % SPECIAL EDUCATION,STUDENTS: % BILINGUAL/ESL EDUCATION,STUDENTS: % CAREER & TECHNICAL EDUCATION,STUDENTS: % GIFTED & TALENTED EDUCATION
0,CAYUGA ISD,3,574,4.4,11.5,79.1,0.0,0.5,0.0,4.5,40.8,1.0,14.6,1.0,30.5,6.1
1,ELKHART ISD,4,1150,4.0,11.8,80.3,0.3,0.2,0.0,3.4,45.4,2.8,12.1,2.7,31.8,4.6
2,FRANKSTON ISD,3,808,8.5,11.3,75.2,0.4,1.0,0.0,3.6,54.2,4.1,13.1,4.1,43.9,7.3
3,NECHES ISD,2,342,8.2,13.5,75.1,0.3,0.3,0.0,2.6,54.1,2.0,10.5,2.0,29.5,5.6
4,PALESTINE ISD,6,3360,25.1,42.9,27.3,0.2,0.7,0.1,3.7,81.6,17.7,13.5,16.1,30.6,2.3

In [14]:
collection = db['satscores20_21']

In [15]:
satscores20_21_df = pd.DataFrame(list(collection.find()))

satscores20_21_df.drop(columns=['_id'], inplace=True, errors='ignore')

satscores20_21_df.head()

Empty DataFrame
Columns: []
Index: []

In [16]:
collection = db["staar19_20"]

In [18]:
staar19_20df = pd.DataFrame(list(collection.find()))

staar19_20df.drop(columns=['_id'], inplace=True, errors='ignore')

staar19_20df.head()

Empty DataFrame
Columns: []
Index: []

In [21]:
collection = db['account_ratings22']

In [22]:
account_ratings_df = pd.DataFrame(list(collection.find()))

account_ratings_df.drop(columns=['_id'], inplace=True, errors='ignore')

account_ratings_df.head()

,DistrictNumber,District,Region,County,SchoolType,AlternativeEducationAccountability,Charter,Number ofStudents,%EconomicallyDisadvantaged,% EB/ELStudents,...,DistinctionClosing the Gaps,US CongressDistrict,US CongressElection District,TX HouseDistrict,TX HouseElection District,TX SenateDistrict,TX SenateElection District,Campus EnrollmentType,SupportLabel,PublicEducationGrant
0,1902,CAYUGA ISD,REGION 07: KILGORE,ANDERSON,District,No,No,574,40.8%,1.0%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1902,CAYUGA ISD,REGION 07: KILGORE,ANDERSON,High School,No,No,169,34.3%,1.2%,...,Earned,5.0,6.0,8.0,8.0,3.0,3.0,ZONED SCHOOL-TRANSFERS ACCEPTED,NaN,NaN
2,1902,CAYUGA ISD,REGION 07: KILGORE,ANDERSON,Middle School,No,No,159,39.6%,0.6%,...,Not Earned,5.0,6.0,8.0,8.0,3.0,3.0,ZONED SCHOOL-TRANSFERS ACCEPTED,NaN,NaN
3,1902,CAYUGA ISD,REGION 07: KILGORE,ANDERSON,Elementary,No,No,246,45.9%,1.2%,...,Not Earned,5.0,6.0,8.0,8.0,3.0,3.0,ZONED SCHOOL-TRANSFERS ACCEPTED,NaN,NaN
4,1903,ELKHART ISD,REGION 07: KILGORE,ANDERSON,District,No,No,"1,150",45.4%,2.8%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN