In [3]:
# in terminal
'''
mongoimport --type json -d texasSchoolsDB -c scores_finances --drop --jsonArray scores_finances.json
mongoimport --type json -d texasSchoolsDB -c scores_finances_coordinates --drop --jsonArray finance_scores_coordinates.json
mongoimport --type json -d texasSchoolsDB -c school_info --drop --jsonArray texas-school.json
mongoimport --type json -d texasSchoolsDB -c coordinates --drop --jsonArray finance_coordinates.json
jq --compact-output ".features"  boundaries.geojson | mongoimport --db texasSchoolsDB -c current_districts_geojson --jsonArray
jq --compact-output ".features" Schools_2022_to_2023.geojson | mongoimport --db texasSchoolsDB -c schools_2022_to_2023_geojson --jsonArray
NEW CSVs FOR PROJECT 4 IMPORTED WITH MONGODB COMPASS TO HANDLE VAST AMOUNTS OF COLUMNS TO INSURE PROPER IMPORTING OF DATA TYPES
    - import demographic20.21.csv in MongoDB Compass with collection name "demographic20_21", verify all datatypes are correct before importing
    - import DISTRICTS_INFO_2020.21.csv in MongoDB Compass with collection name "DISTRICTS_INFO_2020_21", verify all datatypes are correct before importing
    - import staar20.21.cleaned.csv in MongoDB Compass with collection name "staar20_21", verify all datatypes are correct before importing
    - import teachers_scores20_21.csv in MongoDB Compass with collection name "teachers20_21", verify all datatypes are correct before importing
    - import tor20.21.csv in MongoDB Compass with collection name "tor20_21", verify all datatypes are correct before importing
    - import satscores20_21.csv in MongoDB Compass with collection name "satscores20_21", verify all datatypes are correct before importing
'''

'\nmongoimport --type json -d texasSchoolsDB -c scores_finances --drop --jsonArray scores_finances.json\nmongoimport --type json -d texasSchoolsDB -c scores_finances_coordinates --drop --jsonArray finance_scores_coordinates.json\nmongoimport --type json -d texasSchoolsDB -c school_info --drop --jsonArray texas-school.json\nmongoimport --type json -d texasSchoolsDB -c coordinates --drop --jsonArray finance_coordinates.json\njq --compact-output ".features"  boundaries.geojson | mongoimport --db texasSchoolsDB -c current_districts_geojson --jsonArray\njq --compact-output ".features" Schools_2022_to_2023.geojson | mongoimport --db texasSchoolsDB -c schools_2022_to_2023_geojson --jsonArray\nNEW CSVs FOR PROJECT 4 IMPORTED WITH MONGODB COMPASS TO HANDLE VAST AMOUNTS OF COLUMNS TO INSURE PROPER IMPORTING OF DATA TYPES\n    - import demographic20.21.csv in MongoDB Compass with collection name "demographic20_21", verify all datatypes are correct before importing\n    - import DISTRICTS_INFO_2020.21.csv in MongoDB Compass with collection name "DISTRICTS_INFO_2020_21", verify all datatypes are correct before importing\n    - import staar20.21.cleaned.csv in MongoDB Compass with collection name "staar20_21", verify all datatypes are correct before importing\n    - import teachers_scores20_21.csv in MongoDB Compass with collection name "teachers20_21", verify all datatypes are correct before importing\n    - import tor20.21.csv in MongoDB Compass with collection name "tor20_21", verify all datatypes are correct before importing\n    - import satscores20_21.csv in MongoDB Compass with collection name "satscores20_21", verify all datatypes are correct before importing\n'

In [4]:
from pymongo import MongoClient
import pandas as pd

In [5]:
mongo = MongoClient(port=27017)

In [6]:
for dbname in mongo.list_database_names():
    if dbname == "texasSchoolsDB":
        print(f'{dbname} <----------')
    else:
        print(dbname)

admin
classDB
config
dbName
fruits_db
local
met
texasSchoolsDB <----------
travel_db
uk_food

In [7]:
db = mongo["texasSchoolsDB"]

In [8]:
db.list_collection_names()

['teachers20_21',
 'school_info',
 'scores_finances',
 'schools_2022_to_2023_geojson',
 'demographics',
 'staar20_21',
 'coordinates',
 'scores_coordinates',
 'tor20_21',
 'satscores20_21',
 'scores_finances_coordinates',
 'current_districts_geojson',
 'DISTRICTS_INFO_2020_21',
 'demographic20_21']

In [9]:
collection = db.DISTRICTS_INFO_2020_21

In [10]:
# get the DISTRICTS_INFO_2020_21 collection from mongodb and convert it to a pandas dataframe
districts_info_df = pd.DataFrame(list(collection.find()))
districts_info_df.dtypes

_id                                                                       object
DISTRICT NAME                                                             object
DISTRICT NUMBER                                                            int64
COUNTY NUMBER AND NAME                                                    object
EDUCATION SERVICE CENTER REGION                                            int64
                                                                          ...
STAAR: % AMERICAN INDIAN AT MASTERS GRADE LEVEL STANDARD                 float64
ACT-AVERAGE SCORE (2021-2020)                                            float64
STAAR: % PACIFIC ISLANDER AT APPROACHES GRADE LEVEL STANDARD OR ABOVE    float64
STAAR: % PACIFIC ISLANDER AT MEETS GRADE LEVEL STANDARD OR ABOVE         float64
STAAR: % PACIFIC ISLANDER AT MASTERS GRADE LEVEL STANDARD                float64
Length: 138, dtype: object

In [11]:
# Drop id
districts_info_df.drop(columns=['_id'], inplace=True, errors='ignore')

# Now the DataFrame will no longer have the '_id' column.
districts_info_df.head()

,DISTRICT NAME,DISTRICT NUMBER,COUNTY NUMBER AND NAME,EDUCATION SERVICE CENTER REGION,DISTRICT ACCOUNTABILITY RATINGS,TOTAL NUMBER OF SCHOOLS,TOTAL STUDENTS,STUDENTS: % AFRICAN AMERICAN,STUDENTS: % HISPANIC,STUDENTS: % WHITE,...,COMMUNITY TYPE,PROPERTY WEALTH,TAX RATE,STAAR: % AMERICAN INDIAN AT APPROACHES GRADE LEVEL STANDARD OR ABOVE,STAAR: % AMERICAN INDIAN AT MEETS GRADE LEVEL STANDARD OR ABOVE,STAAR: % AMERICAN INDIAN AT MASTERS GRADE LEVEL STANDARD,ACT-AVERAGE SCORE (2021-2020),STAAR: % PACIFIC ISLANDER AT APPROACHES GRADE LEVEL STANDARD OR ABOVE,STAAR: % PACIFIC ISLANDER AT MEETS GRADE LEVEL STANDARD OR ABOVE,STAAR: % PACIFIC ISLANDER AT MASTERS GRADE LEVEL STANDARD
0,CAYUGA ISD,1902,001 ANDERSON,7,A,3,574,4.4,11.5,79.1,...,Rural,"$539,089 to < $573,876",Under $1.0809,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ELKHART ISD,1903,001 ANDERSON,7,A,4,1150,4.0,11.8,80.3,...,Non-metropolitan Stable,"$234,712 to < $298,152",$1.2148 to under $1.3239,100.0,100.0,100.0,-1.0,NaN,NaN,NaN
2,FRANKSTON ISD,1904,001 ANDERSON,7,A,3,808,8.5,11.3,75.2,...,Rural,"$359,962 to < $411,857",$1.3239 and over,80.0,20.0,20.0,-1.0,NaN,NaN,NaN
3,NECHES ISD,1906,001 ANDERSON,7,A,2,342,8.2,13.5,75.1,...,Rural,"$298,152 to < $340,843",$1.3239 and over,-1.0,-1.0,-1.0,18.8,NaN,NaN,NaN
4,PALESTINE ISD,1907,001 ANDERSON,7,B,6,3360,25.1,42.9,27.3,...,Independent Town,"$298,152 to < $340,843",$1.3239 and over,75.0,50.0,17.0,21.0,-1.0,-1.0,-1.0

In [12]:

collection = db['teachers20_21']

In [13]:
teacher20_21_df = pd.DataFrame(list(collection.find()))

teacher20_21_df.drop(columns=['_id'], inplace=True, errors='ignore')

teacher20_21_df.head()

,DISTRICT NAME,TOTAL NUMBER OF SCHOOLS,TOTAL STUDENTS,TOTAL STAFF FTE,TOTAL TEACHER FTE,STAFF: % TEACHERS,STAFF: % EDUCATIONAL AIDES,STAFF: % AUXILIARY,AVERAGE SALARY: TEACHER,NUMBER OF STUDENTS PER TOTAL STAFF,...,TEACHER: % CAREER & TECHNICAL EDUCATION,TEACHER: % OTHER EDUCATION (INCLUDES G & T),ATTENDANCE RATE (2020-21),ANNUAL DROPOUT RATE GR,4-YR LONGITUDINAL GRADUATION RATE (CLASS OF 2021) DISTRICT EXCL,5-YR LONGITUDINAL GRADUATION RATE (CLASS OF 2020) DISTRICT EXCL,ANNUAL GRADUATE COUNT (2020-21),COLLEGE ADMISSIONS: % AT/ABOVE CRITERION (2020-2021),SAT-AVERAGE SCORE (2021-2020),ACT-AVERAGE SCORE (2021-2020)
0,CAYUGA ISD,3,574,99.9,46.7,46.8,14.8,26.5,55570.0,5.7,...,8.5,0.0,96.7,{' 9-12 (2020-21)': 0},100.0,100.0,36.0,19.0,980.0,NaN
1,ELKHART ISD,4,1150,186.6,104.9,56.2,16.2,19.5,47916.0,6.2,...,13.0,1.5,96.0,{' 9-12 (2020-21)': 0.3},100.0,98.9,91.0,27.7,979.0,-1.0
2,FRANKSTON ISD,3,808,146.7,74.5,50.8,15.0,27.4,50382.0,5.5,...,2.2,0.0,95.4,{' 9-12 (2020-21)': 0.4},95.2,100.0,41.0,36.8,980.0,-1.0
3,NECHES ISD,2,342,60.1,30.2,50.3,13.7,26.2,55346.0,5.7,...,10.8,1.7,95.8,{' 9-12 (2020-21)': 0},95.8,97.0,23.0,15.0,1007.0,18.8
4,PALESTINE ISD,6,3360,553.4,260.3,47.0,19.7,19.5,48825.0,6.1,...,9.0,1.8,93.7,{' 9-12 (2020-21)': 0},99.0,99.6,201.0,49.4,1048.0,21.0

In [14]:
collection = db['demographic20_21']

In [15]:
demographic20_21_df = pd.DataFrame(list(collection.find()))

demographic20_21_df.drop(columns=['_id'], inplace=True, errors='ignore')

demographic20_21_df.head()

,DISTRICT NAME,TOTAL NUMBER OF SCHOOLS,TOTAL STUDENTS,STUDENTS: % AFRICAN AMERICAN,STUDENTS: % HISPANIC,STUDENTS: % WHITE,STUDENTS: % AMERICAN INDIAN,STUDENTS: % ASIAN,STUDENTS: % PACIFIC ISLANDER,STUDENTS: % TWO OR MORE RACES,STUDENTS: % ECONOMICALLY DISADVANTAGED,STUDENTS: % ENGLISH LEARNERS (EL),STUDENTS: % SPECIAL EDUCATION,STUDENTS: % BILINGUAL/ESL EDUCATION,STUDENTS: % CAREER & TECHNICAL EDUCATION,STUDENTS: % GIFTED & TALENTED EDUCATION
0,CAYUGA ISD,3,574,4.4,11.5,79.1,0.0,0.5,0.0,4.5,40.8,1.0,14.6,1.0,30.5,6.1
1,ELKHART ISD,4,1150,4.0,11.8,80.3,0.3,0.2,0.0,3.4,45.4,2.8,12.1,2.7,31.8,4.6
2,FRANKSTON ISD,3,808,8.5,11.3,75.2,0.4,1.0,0.0,3.6,54.2,4.1,13.1,4.1,43.9,7.3
3,NECHES ISD,2,342,8.2,13.5,75.1,0.3,0.3,0.0,2.6,54.1,2.0,10.5,2.0,29.5,5.6
4,PALESTINE ISD,6,3360,25.1,42.9,27.3,0.2,0.7,0.1,3.7,81.6,17.7,13.5,16.1,30.6,2.3

In [16]:
collection = db['satscores20_21']

In [17]:
satscores20_21_df = pd.DataFrame(list(collection.find()))

satscores20_21_df.drop(columns=['_id'], inplace=True, errors='ignore')

satscores20_21_df.head()

,DISTRICT NAME,TOTAL STUDENTS,SAT-AVERAGE SCORE (2021-2020),AVERAGE SALARY: TEACHER,Total OPERATING AND OTHER REVENUE PER PUPIL,Total OPERATING REVENUE (2020-21),TOTAL ACTUAL OPERATING EXPENDITURES (2020-21),TOTAL ACTUAL OPERATING EXPENDITURES PER PUPIL,TOTAL ACTUAL INSTRUCTIONAL EXPENDITURES,TOTAL ACTUAL INSTRUCTIONAL EXPENDITURES PER PUPIL
0,CAYUGA ISD,574,980.0,55570.0,19814.0,10525571.0,8878441.0,16595.0,4405076.0,8234.0
1,ELKHART ISD,1150,979.0,47916.0,13787.0,15623002.0,13694502.0,11412.0,8261144.0,6884.0
2,FRANKSTON ISD,808,980.0,50382.0,13845.0,9815575.0,9568092.0,12458.0,5184733.0,6751.0
3,NECHES ISD,342,1007.0,55346.0,14925.0,4573108.0,4709122.0,13932.0,2529704.0,7484.0
4,PALESTINE ISD,3360,1048.0,48825.0,17549.0,45806947.0,43017866.0,12660.0,23492731.0,6914.0